In [1]:
import pandas as pd
import swifter
import json

# Functions

In [2]:
def get_json_as_df(_dir_, element_name):
    with open(_dir_) as f:
        data = json.load(f)
        
    if element_name == None:
        return pd.DataFrame(data)
    else:        
        elements = []

        for element in data:
            elements.extend(element[element_name])
        return pd.DataFrame(elements)

def remove_special_characters(string):
    if ('(c)' in string) or ('â€ ' in string):
        string = string.replace('(c)', '')
        
    for character in string:
        if not (character.isalpha() or character.isdigit() or character == ' '):
            string = string.replace(character, '')
    return string.strip()

def sort_n_join_teams(match):
    match = match.lower()
    match = match.split('vs')
    match = [x.strip() for x in match]
    match.sort()
    match = [team.capitalize() for team in match]
    print(match)
    match = ' Vs '.join(match)
    return match

# Importing all the JSON as df

In [3]:
df_1 = get_json_as_df('data-analytics-project-for-beginners/t20_json_files/t20_wc_match_results.json', 'matchSummary')
df_2 = get_json_as_df('data-analytics-project-for-beginners/t20_json_files/t20_wc_player_info.json', None)
df_3 = get_json_as_df('data-analytics-project-for-beginners/t20_json_files/t20_wc_batting_summary.json', 'battingSummary')
df_4 = get_json_as_df('data-analytics-project-for-beginners/t20_json_files/t20_wc_bowling_summary.json', 'bowlingSummary')

# Data Cleaning

## DF_1: t20_wc_match_results

In [4]:
df_1

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830
5,Sri Lanka,U.A.E.,Sri Lanka,79 runs,Geelong,"Oct 18, 2022",T20I # 1832
6,Ireland,Scotland,Ireland,6 wickets,Hobart,"Oct 19, 2022",T20I # 1833
7,West Indies,Zimbabwe,West Indies,31 runs,Hobart,"Oct 19, 2022",T20I # 1834
8,Netherlands,Sri Lanka,Sri Lanka,16 runs,Geelong,"Oct 20, 2022",T20I # 1835
9,Namibia,U.A.E.,U.A.E.,7 runs,Geelong,"Oct 20, 2022",T20I # 1836
10,Ireland,West Indies,Ireland,9 wickets,Hobart,"Oct 21, 2022",T20I # 1837
11,Scotland,Zimbabwe,Zimbabwe,5 wickets,Hobart,"Oct 21, 2022",T20I # 1838
12,Australia,New Zealand,New Zealand,89 runs,Sydney,"Oct 22, 2022",T20I # 1839
13,Afghanistan,England,England,5 wickets,Perth,"Oct 22, 2022",T20I # 1840
14,Ireland,Sri Lanka,Sri Lanka,9 wickets,Hobart,"Oct 23, 2022",T20I # 1841
15,India,Pakistan,India,4 wickets,Melbourne,"Oct 23, 2022",T20I # 1842
16,Bangladesh,Netherlands,Bangladesh,9 runs,Hobart,"Oct 24, 2022",T20I # 1843
17,South Africa,Zimbabwe,no result,,Hobart,"Oct 24, 2022",T20I # 1844
18,Australia,Sri Lanka,Australia,7 wickets,Perth,"Oct 25, 2022",T20I # 1845
19,England,Ireland,Ireland,5 runs,Melbourne,"Oct 26, 2022",T20I # 1846
20,Afghanistan,New Zealand,abandoned,,Melbourne,"Oct 26, 2022",T20I # 1846a
21,Bangladesh,South Africa,South Africa,104 runs,Sydney,"Oct 27, 2022",T20I # 1847
22,India,Netherlands,India,56 runs,Sydney,"Oct 27, 2022",T20I # 1848
23,Pakistan,Zimbabwe,Zimbabwe,1 run,Perth,"Oct 27, 2022",T20I # 1849
24,Afghanistan,Ireland,abandoned,,Melbourne,"Oct 28, 2022",T20I # 1849a
25,Australia,England,abandoned,,Melbourne,"Oct 28, 2022",T20I # 1849b
26,New Zealand,Sri Lanka,New Zealand,65 runs,Sydney,"Oct 29, 2022",T20I # 1850
27,Bangladesh,Zimbabwe,Bangladesh,3 runs,Brisbane,"Oct 30, 2022",T20I # 1851
28,Netherlands,Pakistan,Pakistan,6 wickets,Perth,"Oct 30, 2022",T20I # 1852
29,India,South Africa,South Africa,5 wickets,Perth,"Oct 30, 2022",T20I # 1853
30,Australia,Ireland,Australia,42 runs,Brisbane,"Oct 31, 2022",T20I # 1855
31,Afghanistan,Sri Lanka,Sri Lanka,6 wickets,Brisbane,"Nov 1, 2022",T20I # 1856
32,England,New Zealand,England,20 runs,Brisbane,"Nov 1, 2022",T20I # 1858
33,Netherlands,Zimbabwe,Netherlands,5 wickets,Adelaide,"Nov 2, 2022",T20I # 1859
34,Bangladesh,India,India,5 runs,Adelaide,"Nov 2, 2022",T20I # 1860
35,Pakistan,South Africa,Pakistan,33 runs,Sydney,"Nov 3, 2022",T20I # 1861
36,Ireland,New Zealand,New Zealand,35 runs,Adelaide,"Nov 4, 2022",T20I # 1862
37,Australia,Afghanistan,Australia,4 runs,Adelaide,"Nov 4, 2022",T20I # 1864
38,England,Sri Lanka,England,4 wickets,Sydney,"Nov 5, 2022",T20I # 1867
39,Netherlands,South Africa,Netherlands,13 runs,Adelaide,"Nov 6, 2022",T20I # 1871
40,Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872
41,India,Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873
42,New Zealand,Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877
43,England,India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878
44,England,Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879

In [5]:
df_1['match'] = df_1['team1'] + ' vs ' + df_1['team2']
df_1['match'] = df_1['match'].swifter.apply(lambda x: sort_n_join_teams(x))
df_1['match_id'] = df_1['scorecard'].swifter.apply(lambda x: x.split('#')[1].strip())
df_1['match_won_via'] = df_1['margin'].swifter.apply(lambda x: 'no_result' if x =='' else x.split(' ')[1].strip())
df_1 = df_1.drop_duplicates()
df_1 = df_1[['match', 'winner', 'margin', 'ground', 'matchDate', 'scorecard',
       'match_id', 'match_won_via']]
df_1

Pandas Apply:   0%|          | 0/45 [00:00<?, ?it/s]

['Namibia', 'Sri lanka']
['Netherlands', 'U.a.e.']
['Scotland', 'West indies']
['Ireland', 'Zimbabwe']
['Namibia', 'Netherlands']
['Sri lanka', 'U.a.e.']
['Ireland', 'Scotland']
['West indies', 'Zimbabwe']
['Netherlands', 'Sri lanka']
['Namibia', 'U.a.e.']
['Ireland', 'West indies']
['Scotland', 'Zimbabwe']
['Australia', 'New zealand']
['Afghanistan', 'England']
['Ireland', 'Sri lanka']
['India', 'Pakistan']
['Bangladesh', 'Netherlands']
['South africa', 'Zimbabwe']
['Australia', 'Sri lanka']
['England', 'Ireland']
['Afghanistan', 'New zealand']
['Bangladesh', 'South africa']
['India', 'Netherlands']
['Pakistan', 'Zimbabwe']
['Afghanistan', 'Ireland']
['Australia', 'England']
['New zealand', 'Sri lanka']
['Bangladesh', 'Zimbabwe']
['Netherlands', 'Pakistan']
['India', 'South africa']
['Australia', 'Ireland']
['Afghanistan', 'Sri lanka']
['England', 'New zealand']
['Netherlands', 'Zimbabwe']
['Bangladesh', 'India']
['Pakistan', 'South africa']
['Ireland', 'New zealand']
['Afghanistan', 'Australia']
['England', 'Sri lanka']
['Netherlands', 'South africa']
['Bangladesh', 'Pakistan']
['India', 'Zimbabwe']
['New zealand', 'Pakistan']
['England', 'India']
['England', 'Pakistan']

Pandas Apply:   0%|          | 0/45 [00:00<?, ?it/s]

Pandas Apply:   0%|          | 0/45 [00:00<?, ?it/s]

,match,winner,margin,ground,matchDate,scorecard,match_id,match_won_via
0,Namibia Vs Sri lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823,1823,runs
1,Netherlands Vs U.a.e.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825,1825,wickets
2,Scotland Vs West indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826,1826,runs
3,Ireland Vs Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828,1828,runs
4,Namibia Vs Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830,1830,wickets
5,Sri lanka Vs U.a.e.,Sri Lanka,79 runs,Geelong,"Oct 18, 2022",T20I # 1832,1832,runs
6,Ireland Vs Scotland,Ireland,6 wickets,Hobart,"Oct 19, 2022",T20I # 1833,1833,wickets
7,West indies Vs Zimbabwe,West Indies,31 runs,Hobart,"Oct 19, 2022",T20I # 1834,1834,runs
8,Netherlands Vs Sri lanka,Sri Lanka,16 runs,Geelong,"Oct 20, 2022",T20I # 1835,1835,runs
9,Namibia Vs U.a.e.,U.A.E.,7 runs,Geelong,"Oct 20, 2022",T20I # 1836,1836,runs
10,Ireland Vs West indies,Ireland,9 wickets,Hobart,"Oct 21, 2022",T20I # 1837,1837,wickets
11,Scotland Vs Zimbabwe,Zimbabwe,5 wickets,Hobart,"Oct 21, 2022",T20I # 1838,1838,wickets
12,Australia Vs New zealand,New Zealand,89 runs,Sydney,"Oct 22, 2022",T20I # 1839,1839,runs
13,Afghanistan Vs England,England,5 wickets,Perth,"Oct 22, 2022",T20I # 1840,1840,wickets
14,Ireland Vs Sri lanka,Sri Lanka,9 wickets,Hobart,"Oct 23, 2022",T20I # 1841,1841,wickets
15,India Vs Pakistan,India,4 wickets,Melbourne,"Oct 23, 2022",T20I # 1842,1842,wickets
16,Bangladesh Vs Netherlands,Bangladesh,9 runs,Hobart,"Oct 24, 2022",T20I # 1843,1843,runs
17,South africa Vs Zimbabwe,no result,,Hobart,"Oct 24, 2022",T20I # 1844,1844,no_result
18,Australia Vs Sri lanka,Australia,7 wickets,Perth,"Oct 25, 2022",T20I # 1845,1845,wickets
19,England Vs Ireland,Ireland,5 runs,Melbourne,"Oct 26, 2022",T20I # 1846,1846,runs
20,Afghanistan Vs New zealand,abandoned,,Melbourne,"Oct 26, 2022",T20I # 1846a,1846a,no_result
21,Bangladesh Vs South africa,South Africa,104 runs,Sydney,"Oct 27, 2022",T20I # 1847,1847,runs
22,India Vs Netherlands,India,56 runs,Sydney,"Oct 27, 2022",T20I # 1848,1848,runs
23,Pakistan Vs Zimbabwe,Zimbabwe,1 run,Perth,"Oct 27, 2022",T20I # 1849,1849,run
24,Afghanistan Vs Ireland,abandoned,,Melbourne,"Oct 28, 2022",T20I # 1849a,1849a,no_result
25,Australia Vs England,abandoned,,Melbourne,"Oct 28, 2022",T20I # 1849b,1849b,no_result
26,New zealand Vs Sri lanka,New Zealand,65 runs,Sydney,"Oct 29, 2022",T20I # 1850,1850,runs
27,Bangladesh Vs Zimbabwe,Bangladesh,3 runs,Brisbane,"Oct 30, 2022",T20I # 1851,1851,runs
28,Netherlands Vs Pakistan,Pakistan,6 wickets,Perth,"Oct 30, 2022",T20I # 1852,1852,wickets
29,India Vs South africa,South Africa,5 wickets,Perth,"Oct 30, 2022",T20I # 1853,1853,wickets
30,Australia Vs Ireland,Australia,42 runs,Brisbane,"Oct 31, 2022",T20I # 1855,1855,runs
31,Afghanistan Vs Sri lanka,Sri Lanka,6 wickets,Brisbane,"Nov 1, 2022",T20I # 1856,1856,wickets
32,England Vs New zealand,England,20 runs,Brisbane,"Nov 1, 2022",T20I # 1858,1858,runs
33,Netherlands Vs Zimbabwe,Netherlands,5 wickets,Adelaide,"Nov 2, 2022",T20I # 1859,1859,wickets
34,Bangladesh Vs India,India,5 runs,Adelaide,"Nov 2, 2022",T20I # 1860,1860,runs
35,Pakistan Vs South africa,Pakistan,33 runs,Sydney,"Nov 3, 2022",T20I # 1861,1861,runs
36,Ireland Vs New zealand,New Zealand,35 runs,Adelaide,"Nov 4, 2022",T20I # 1862,1862,runs
37,Afghanistan Vs Australia,Australia,4 runs,Adelaide,"Nov 4, 2022",T20I # 1864,1864,runs
38,England Vs Sri lanka,England,4 wickets,Sydney,"Nov 5, 2022",T20I # 1867,1867,wickets
39,Netherlands Vs South africa,Netherlands,13 runs,Adelaide,"Nov 6, 2022",T20I # 1871,1871,runs
40,Bangladesh Vs Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872,1872,wickets
41,India Vs Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873,1873,runs
42,New zealand Vs Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877,1877,wickets
43,England Vs India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878,1878,wickets
44,England Vs Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879,1879,wickets

## DF_2: t20_wc_player_info

In [6]:
df_2

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
...,...,...,...,...,...,...
214,Tabraiz Shamsi,South Africa,Right hand Bat,Left arm Wrist spin,Bowler,A left-arm wristspin bowler with ample variati...
215,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
216,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade..."
217,Regis Chakabva(c)â€,Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
218,Mehidy Hasan Miraz,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,Mehedi Hasan Miraz has emerged as one of the b...

In [7]:
df_2['name'] = df_2['name'].swifter.apply(lambda x: remove_special_characters(x))
df_2 = df_2.drop_duplicates()
df_2

Pandas Apply:   0%|          | 0/219 [00:00<?, ?it/s]

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol LoftieEaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus,Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
...,...,...,...,...,...,...
213,Wellington Masakadza,Zimbabwe,Left hand Bat,Slow Left arm Orthodox,Bowler,
214,Tabraiz Shamsi,South Africa,Right hand Bat,Left arm Wrist spin,Bowler,A left-arm wristspin bowler with ample variati...
215,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
216,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade..."
218,Mehidy Hasan Miraz,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,Mehedi Hasan Miraz has emerged as one of the b...

### Adding Custom Columns

In [8]:
df_2_images = pd.read_csv('data-analytics-project-for-beginners/t20_csv_files/dim_players.csv')

In [9]:
bat_team_order = {"Jos Buttler" : 1, 
      "Rilee Rossouw" : 2, 
      "Alex Hales" : 3, 
      "Suryakumar Yadav" : 4, 
      "Glenn Philips" : 5, 
      "Marcus Stoinis" : 6, 
      "Glenn Maxwell" : 7, 
      "Sikandar Raza" : 8, 
      "Sam Curran" : 9, 
      "Shaheen Shah Afridi" : 10, 
      "Anrich Nortje" : 11}

In [10]:
df_2_images['name'] = df_2_images['name'].swifter.apply(lambda x: remove_special_characters(x))
df_2 = pd.merge(df_2, df_2_images[['name','image']], on='name')
df_2['Custom Batting Order'] = df_2['name'].swifter.apply(lambda x: 
                                                          bat_team_order[x] if x.lower() in [player.lower() for player in list(bat_team_order)] else x)
df_2 = df_2.drop_duplicates()
df_2

Pandas Apply:   0%|          | 0/219 [00:00<?, ?it/s]

Pandas Apply:   0%|          | 0/219 [00:00<?, ?it/s]

,name,team,battingStyle,bowlingStyle,playingRole,description,image,Custom Batting Order
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,,NaN,Michael van Lingen
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,,NaN,Divan la Cock
2,Jan Nicol LoftieEaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,,NaN,Jan Nicol LoftieEaton
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,,NaN,Stephan Baard
4,Gerhard Erasmus,Namibia,Right hand Bat,Right arm Offbreak,Allrounder,,NaN,Gerhard Erasmus
...,...,...,...,...,...,...,...,...
214,Wellington Masakadza,Zimbabwe,Left hand Bat,Slow Left arm Orthodox,Bowler,,NaN,Wellington Masakadza
215,Tabraiz Shamsi,South Africa,Right hand Bat,Left arm Wrist spin,Bowler,A left-arm wristspin bowler with ample variati...,NaN,Tabraiz Shamsi
216,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...,NaN,Phil Salt
217,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade...",NaN,Chris Jordan
218,Mehidy Hasan Miraz,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,Mehedi Hasan Miraz has emerged as one of the b...,NaN,Mehidy Hasan Miraz

## DF_3: t20_wc_batting_summary

In [11]:
df_3

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33
...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11
695,Pakistan Vs England,England,4,Ben Stokes,,52,49,5,1,106.12
696,Pakistan Vs England,England,5,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95
697,Pakistan Vs England,England,6,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15
698,Pakistan Vs England,England,7,Liam Livingstone,,1,1,0,0,100.00

In [12]:
df_3['status'] = df_3['dismissal'].swifter.apply(lambda x: 'not_out' if x == '' else 'out')
df_3['match'] = df_3['match'].swifter.apply(lambda x: sort_n_join_teams(x))
df_3['batsmanName'] = df_3['batsmanName'].swifter.apply(lambda x: remove_special_characters(x))
df_3 = df_3.drop_duplicates()
df_3

Pandas Apply:   0%|          | 0/699 [00:00<?, ?it/s]

Pandas Apply:   0%|          | 0/699 [00:00<?, ?it/s]

['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['South africa', 'Zimbabwe']
['South africa', 'Zimbabwe']
['South africa', 'Zimbabwe']
['South africa', 'Zimbabwe']
['South africa', 'Zimbabwe']
['South africa', 'Zimbabwe']
['South africa', 'Zimbabwe']
['South africa', 'Zimbabwe']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']

Pandas Apply:   0%|          | 0/699 [00:00<?, ?it/s]

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,status
0,Namibia Vs Sri lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri lanka,Namibia,3,Jan Nicol LoftieEaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,out
3,Namibia Vs Sri lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out
4,Namibia Vs Sri lanka,Namibia,5,Gerhard Erasmus,c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out
...,...,...,...,...,...,...,...,...,...,...,...
694,England Vs Pakistan,England,3,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11,out
695,England Vs Pakistan,England,4,Ben Stokes,,52,49,5,1,106.12,not_out
696,England Vs Pakistan,England,5,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95,out
697,England Vs Pakistan,England,6,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15,out
698,England Vs Pakistan,England,7,Liam Livingstone,,1,1,0,0,100.00,not_out

## DF_4: t20_wc_bowling_summary

In [13]:
df_4

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0
496,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0
497,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0
498,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0
499,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0

In [14]:
df_4['match'] = df_4['match'].swifter.apply(lambda x: sort_n_join_teams(x))
df_4 = pd.DataFrame(pd.merge(df_1[['match', 'scorecard']], df_4, on='match'))
df_4 = df_4.drop_duplicates()
df_4

Pandas Apply:   0%|          | 0/500 [00:00<?, ?it/s]

['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Namibia', 'Sri lanka']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Netherlands', 'U.a.e.']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Scotland', 'West indies']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Ireland', 'Zimbabwe']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Namibia', 'Netherlands']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Sri lanka', 'U.a.e.']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['Ireland', 'Scotland']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['West indies', 'Zimbabwe']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Netherlands', 'Sri lanka']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Namibia', 'U.a.e.']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Ireland', 'West indies']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Scotland', 'Zimbabwe']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Australia', 'New zealand']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Afghanistan', 'England']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['Ireland', 'Sri lanka']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['India', 'Pakistan']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['Bangladesh', 'Netherlands']
['South africa', 'Zimbabwe']
['South africa', 'Zimbabwe']
['South africa', 'Zimbabwe']
['South africa', 'Zimbabwe']
['South africa', 'Zimbabwe']
['South africa', 'Zimbabwe']
['South africa', 'Zimbabwe']
['South africa', 'Zimbabwe']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['Australia', 'Sri lanka']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['England', 'Ireland']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['Bangladesh', 'South africa']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['India', 'Netherlands']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['Pakistan', 'Zimbabwe']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['New zealand', 'Sri lanka']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Bangladesh', 'Zimbabwe']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['Netherlands', 'Pakistan']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['India', 'South africa']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Australia', 'Ireland']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['Afghanistan', 'Sri lanka']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['England', 'New zealand']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Netherlands', 'Zimbabwe']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Bangladesh', 'India']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Pakistan', 'South africa']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Ireland', 'New zealand']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['Afghanistan', 'Australia']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['England', 'Sri lanka']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Netherlands', 'South africa']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['Bangladesh', 'Pakistan']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['India', 'Zimbabwe']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['New zealand', 'Pakistan']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'India']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']
['England', 'Pakistan']

,match,scorecard,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri lanka,T20I # 1823,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri lanka,T20I # 1823,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri lanka,T20I # 1823,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri lanka,T20I # 1823,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri lanka,T20I # 1823,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,England Vs Pakistan,T20I # 1879,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0
496,England Vs Pakistan,T20I # 1879,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0
497,England Vs Pakistan,T20I # 1879,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0
498,England Vs Pakistan,T20I # 1879,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0
499,England Vs Pakistan,T20I # 1879,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0

# Mapping 'match' feature

In [15]:
all_df = [df_1, df_2, df_3, df_4]
_df_ = []

for df in all_df:
    if 'match' in df.columns:
        _df_.append(df)

unique_matchs = []

for df in _df_:
    matchs = list(df['match'].value_counts().index)
    for match in matchs:
        team1 = match.split('Vs')[0].strip()#.lower().capitalize()
        team2 = match.split('Vs')[1].strip()#.lower().capitalize()
        if team1 not in unique_matchs:
            unique_matchs.append(team1)
        if team2 not in unique_matchs:
            unique_matchs.append(team2)

In [16]:
unique_matchs

['Namibia',
 'Sri lanka',
 'Pakistan',
 'Zimbabwe',
 'Australia',
 'England',
 'New zealand',
 'Bangladesh',
 'Netherlands',
 'India',
 'South africa',
 'Ireland',
 'Afghanistan',
 'U.a.e.',
 'Scotland',
 'West indies']

In [17]:
# Dic with country name in short
cricket_abbreviations = {
    'Namibia': 'NAM',
    'Sri lanka': 'SL',
    'Pakistan': 'PAK',
    'Zimbabwe': 'ZIM',
    'Australia': 'AUS',
    'England': 'ENG',
    'New zealand': 'NZ',
    'Bangladesh': 'BAN',
    'Netherlands': 'NED',
    'India': 'IND',
    'South africa': 'SA',
    'Ireland': 'IRE',
    'Afghanistan': 'AFG',
    'U.a.e.': 'UAE',
    'Scotland': 'SCO',
    'West indies': 'WI'
}

def embed_team_name(match):
    teams = match.split(' Vs ')
    teams[0] = cricket_abbreviations[teams[0].strip()]
    teams[1] = cricket_abbreviations[teams[1].strip()]
    teams = ' Vs '.join(teams)
    return teams

# embed_team_name('Namibia Vs Sri lanka')
for df in _df_:
    df['team_match'] = df['match'].swifter.apply(lambda x: embed_team_name(x))

Pandas Apply:   0%|          | 0/45 [00:00<?, ?it/s]

Pandas Apply:   0%|          | 0/699 [00:00<?, ?it/s]

Pandas Apply:   0%|          | 0/500 [00:00<?, ?it/s]

# Exporting as CSV

In [18]:
display(df_1, df_2, df_3, df_4)

,match,winner,margin,ground,matchDate,scorecard,match_id,match_won_via,team_match
0,Namibia Vs Sri lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823,1823,runs,NAM Vs SL
1,Netherlands Vs U.a.e.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825,1825,wickets,NED Vs UAE
2,Scotland Vs West indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826,1826,runs,SCO Vs WI
3,Ireland Vs Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828,1828,runs,IRE Vs ZIM
4,Namibia Vs Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830,1830,wickets,NAM Vs NED
5,Sri lanka Vs U.a.e.,Sri Lanka,79 runs,Geelong,"Oct 18, 2022",T20I # 1832,1832,runs,SL Vs UAE
6,Ireland Vs Scotland,Ireland,6 wickets,Hobart,"Oct 19, 2022",T20I # 1833,1833,wickets,IRE Vs SCO
7,West indies Vs Zimbabwe,West Indies,31 runs,Hobart,"Oct 19, 2022",T20I # 1834,1834,runs,WI Vs ZIM
8,Netherlands Vs Sri lanka,Sri Lanka,16 runs,Geelong,"Oct 20, 2022",T20I # 1835,1835,runs,NED Vs SL
9,Namibia Vs U.a.e.,U.A.E.,7 runs,Geelong,"Oct 20, 2022",T20I # 1836,1836,runs,NAM Vs UAE
10,Ireland Vs West indies,Ireland,9 wickets,Hobart,"Oct 21, 2022",T20I # 1837,1837,wickets,IRE Vs WI
11,Scotland Vs Zimbabwe,Zimbabwe,5 wickets,Hobart,"Oct 21, 2022",T20I # 1838,1838,wickets,SCO Vs ZIM
12,Australia Vs New zealand,New Zealand,89 runs,Sydney,"Oct 22, 2022",T20I # 1839,1839,runs,AUS Vs NZ
13,Afghanistan Vs England,England,5 wickets,Perth,"Oct 22, 2022",T20I # 1840,1840,wickets,AFG Vs ENG
14,Ireland Vs Sri lanka,Sri Lanka,9 wickets,Hobart,"Oct 23, 2022",T20I # 1841,1841,wickets,IRE Vs SL
15,India Vs Pakistan,India,4 wickets,Melbourne,"Oct 23, 2022",T20I # 1842,1842,wickets,IND Vs PAK
16,Bangladesh Vs Netherlands,Bangladesh,9 runs,Hobart,"Oct 24, 2022",T20I # 1843,1843,runs,BAN Vs NED
17,South africa Vs Zimbabwe,no result,,Hobart,"Oct 24, 2022",T20I # 1844,1844,no_result,SA Vs ZIM
18,Australia Vs Sri lanka,Australia,7 wickets,Perth,"Oct 25, 2022",T20I # 1845,1845,wickets,AUS Vs SL
19,England Vs Ireland,Ireland,5 runs,Melbourne,"Oct 26, 2022",T20I # 1846,1846,runs,ENG Vs IRE
20,Afghanistan Vs New zealand,abandoned,,Melbourne,"Oct 26, 2022",T20I # 1846a,1846a,no_result,AFG Vs NZ
21,Bangladesh Vs South africa,South Africa,104 runs,Sydney,"Oct 27, 2022",T20I # 1847,1847,runs,BAN Vs SA
22,India Vs Netherlands,India,56 runs,Sydney,"Oct 27, 2022",T20I # 1848,1848,runs,IND Vs NED
23,Pakistan Vs Zimbabwe,Zimbabwe,1 run,Perth,"Oct 27, 2022",T20I # 1849,1849,run,PAK Vs ZIM
24,Afghanistan Vs Ireland,abandoned,,Melbourne,"Oct 28, 2022",T20I # 1849a,1849a,no_result,AFG Vs IRE
25,Australia Vs England,abandoned,,Melbourne,"Oct 28, 2022",T20I # 1849b,1849b,no_result,AUS Vs ENG
26,New zealand Vs Sri lanka,New Zealand,65 runs,Sydney,"Oct 29, 2022",T20I # 1850,1850,runs,NZ Vs SL
27,Bangladesh Vs Zimbabwe,Bangladesh,3 runs,Brisbane,"Oct 30, 2022",T20I # 1851,1851,runs,BAN Vs ZIM
28,Netherlands Vs Pakistan,Pakistan,6 wickets,Perth,"Oct 30, 2022",T20I # 1852,1852,wickets,NED Vs PAK
29,India Vs South africa,South Africa,5 wickets,Perth,"Oct 30, 2022",T20I # 1853,1853,wickets,IND Vs SA
30,Australia Vs Ireland,Australia,42 runs,Brisbane,"Oct 31, 2022",T20I # 1855,1855,runs,AUS Vs IRE
31,Afghanistan Vs Sri lanka,Sri Lanka,6 wickets,Brisbane,"Nov 1, 2022",T20I # 1856,1856,wickets,AFG Vs SL
32,England Vs New zealand,England,20 runs,Brisbane,"Nov 1, 2022",T20I # 1858,1858,runs,ENG Vs NZ
33,Netherlands Vs Zimbabwe,Netherlands,5 wickets,Adelaide,"Nov 2, 2022",T20I # 1859,1859,wickets,NED Vs ZIM
34,Bangladesh Vs India,India,5 runs,Adelaide,"Nov 2, 2022",T20I # 1860,1860,runs,BAN Vs IND
35,Pakistan Vs South africa,Pakistan,33 runs,Sydney,"Nov 3, 2022",T20I # 1861,1861,runs,PAK Vs SA
36,Ireland Vs New zealand,New Zealand,35 runs,Adelaide,"Nov 4, 2022",T20I # 1862,1862,runs,IRE Vs NZ
37,Afghanistan Vs Australia,Australia,4 runs,Adelaide,"Nov 4, 2022",T20I # 1864,1864,runs,AFG Vs AUS
38,England Vs Sri lanka,England,4 wickets,Sydney,"Nov 5, 2022",T20I # 1867,1867,wickets,ENG Vs SL
39,Netherlands Vs South africa,Netherlands,13 runs,Adelaide,"Nov 6, 2022",T20I # 1871,1871,runs,NED Vs SA
40,Bangladesh Vs Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872,1872,wickets,BAN Vs PAK
41,India Vs Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873,1873,runs,IND Vs ZIM
42,New zealand Vs Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877,1877,wickets,NZ Vs PAK
43,England Vs India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878,1878,wickets,ENG Vs IND
44,England Vs Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879,1879,wickets,ENG Vs PAK

,name,team,battingStyle,bowlingStyle,playingRole,description,image,Custom Batting Order
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,,NaN,Michael van Lingen
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,,NaN,Divan la Cock
2,Jan Nicol LoftieEaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,,NaN,Jan Nicol LoftieEaton
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,,NaN,Stephan Baard
4,Gerhard Erasmus,Namibia,Right hand Bat,Right arm Offbreak,Allrounder,,NaN,Gerhard Erasmus
...,...,...,...,...,...,...,...,...
214,Wellington Masakadza,Zimbabwe,Left hand Bat,Slow Left arm Orthodox,Bowler,,NaN,Wellington Masakadza
215,Tabraiz Shamsi,South Africa,Right hand Bat,Left arm Wrist spin,Bowler,A left-arm wristspin bowler with ample variati...,NaN,Tabraiz Shamsi
216,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...,NaN,Phil Salt
217,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade...",NaN,Chris Jordan
218,Mehidy Hasan Miraz,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,Mehedi Hasan Miraz has emerged as one of the b...,NaN,Mehidy Hasan Miraz

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,status,team_match
0,Namibia Vs Sri lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out,NAM Vs SL
1,Namibia Vs Sri lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out,NAM Vs SL
2,Namibia Vs Sri lanka,Namibia,3,Jan Nicol LoftieEaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,out,NAM Vs SL
3,Namibia Vs Sri lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out,NAM Vs SL
4,Namibia Vs Sri lanka,Namibia,5,Gerhard Erasmus,c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out,NAM Vs SL
...,...,...,...,...,...,...,...,...,...,...,...,...
694,England Vs Pakistan,England,3,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11,out,ENG Vs PAK
695,England Vs Pakistan,England,4,Ben Stokes,,52,49,5,1,106.12,not_out,ENG Vs PAK
696,England Vs Pakistan,England,5,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95,out,ENG Vs PAK
697,England Vs Pakistan,England,6,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15,out,ENG Vs PAK
698,England Vs Pakistan,England,7,Liam Livingstone,,1,1,0,0,100.00,not_out,ENG Vs PAK

,match,scorecard,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,team_match
0,Namibia Vs Sri lanka,T20I # 1823,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,NAM Vs SL
1,Namibia Vs Sri lanka,T20I # 1823,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,NAM Vs SL
2,Namibia Vs Sri lanka,T20I # 1823,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,NAM Vs SL
3,Namibia Vs Sri lanka,T20I # 1823,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,NAM Vs SL
4,Namibia Vs Sri lanka,T20I # 1823,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,NAM Vs SL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,England Vs Pakistan,T20I # 1879,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0,ENG Vs PAK
496,England Vs Pakistan,T20I # 1879,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0,ENG Vs PAK
497,England Vs Pakistan,T20I # 1879,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0,ENG Vs PAK
498,England Vs Pakistan,T20I # 1879,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0,ENG Vs PAK
499,England Vs Pakistan,T20I # 1879,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0,ENG Vs PAK

In [19]:
df_1.to_csv('t20_wc_match_results.csv')
df_2.to_csv('t20_wc_player_info.csv')
df_3.to_csv('t20_wc_batting_summary.csv')
df_4.to_csv('t20_wc_bowling_summary.csv')

# Rough Work

In [52]:
code_df_2 = pd.read_csv('data-analytics-project-for-beginners/t20_csv_files/dim_players.csv')

In [64]:
cb_name = pd.DataFrame(code_df_2['name'].value_counts()).reset_index().sort_values(by = 'name')
my_name = pd.DataFrame(df_2['name'].value_counts()).reset_index().sort_values(by = 'name')

In [74]:
cb_name_ls = list(cb_name['name'].values)
my_name_ls = list(my_name['name'].values)

In [87]:
or_df_2 = get_json_as_df('data-analytics-project-for-beginners/t20_json_files/t20_wc_player_info.json', None)

or_df_2[['name']].sort_values(by = 'name').head(20)

                   name
24       Aaron Finch(c)
91     Aayan Afzal Khan
180          Adam Zampa
78          Adil Rashid
143        Afif Hossain
89           Ahmed Raza
194       Aiden Markram
114        Akeal Hosein
69           Alex Hales
83      Alishan Sharafu
115      Alzarri Joseph
44    Andy Balbirnie(c)
171       Anrich Nortje
136      Arshdeep Singh
186         Aryan Lakra
31          Ashton Agar
124            Asif Ali
131          Axar Patel
63   Azmatullah Omarzai
118       Babar Azam(c)

In [99]:
new_df_2 = or_df_2.copy()
new_df_2['name'] = new_df_2['name'].swifter.apply(lambda x: remove_special_characters(x))
new_df_2 = new_df_2.drop_duplicates()
new_df_2 = new_df_2.sort_values(by = 'name')
new_df_2

Pandas Apply:   0%|          | 0/219 [00:00<?, ?it/s]

,name,team,battingStyle,bowlingStyle,playingRole,description
24,Aaron Finch,Australia,Right hand Bat,Slow Left arm Orthodox,Top order Batter,"A solidly built, aggressive batter from a coun..."
91,Aayan Afzal Khan,U.A.E.,Right hand Bat,Slow Left arm Orthodox,Bowling Allrounder,
180,Adam Zampa,Australia,Right hand Bat,Legbreak Googly,Bowler,"An energetic and competitive legspinner, Adam ..."
78,Adil Rashid,England,Right hand Bat,Legbreak,Bowler,Adil Rashid did much to set right English cric...
143,Afif Hossain,Bangladesh,Left hand Bat,Right arm Offbreak,Allrounder,Bangladesh left-hander Afif Hossain made his T...
...,...,...,...,...,...,...
37,Wessly Madhevere,Zimbabwe,Right hand Bat,Right arm Offbreak,Allrounder,
144,Yasir Ali,Bangladesh,Right hand Bat,Right arm Offbreak,Middle order Batter,
88,Zahoor Khan,U.A.E.,Right hand Bat,Right arm Medium fast,Bowler,
85,Zane Green,Namibia,Left hand Bat,,Wicketkeeper Batter,
94,Zawar Farid,U.A.E.,Right hand Bat,Right arm Medium,Bowler,

In [104]:

new_df_2 = pd.merge(new_df_2, df_2_images[['name','image']], on='name')
new_df_2['Custom Batting Order'] = df_2['name'].swifter.apply(lambda x: 
                                                          bat_team_order[x] if x.lower() in [player.lower() for player in list(bat_team_order)] else x)

Pandas Apply:   0%|          | 0/219 [00:00<?, ?it/s]

Pandas Apply:   0%|          | 0/198 [00:00<?, ?it/s]

In [105]:
new_df_2

,name,team,battingStyle,bowlingStyle,playingRole,description,Custom Batting Order,image
0,Aaron Finch,Australia,Right hand Bat,Slow Left arm Orthodox,Top order Batter,"A solidly built, aggressive batter from a coun...",Michael van Lingen,NaN
1,Aayan Afzal Khan,U.A.E.,Right hand Bat,Slow Left arm Orthodox,Bowling Allrounder,,Divan la Cock,NaN
2,Adam Zampa,Australia,Right hand Bat,Legbreak Googly,Bowler,"An energetic and competitive legspinner, Adam ...",Stephan Baard,NaN
3,Adil Rashid,England,Right hand Bat,Legbreak,Bowler,Adil Rashid did much to set right English cric...,Gerhard Erasmus,NaN
4,Afif Hossain,Bangladesh,Left hand Bat,Right arm Offbreak,Allrounder,Bangladesh left-hander Afif Hossain made his T...,Jan Frylinck,NaN
...,...,...,...,...,...,...,...,...
214,Wessly Madhevere,Zimbabwe,Right hand Bat,Right arm Offbreak,Allrounder,,NaN,NaN
215,Yasir Ali,Bangladesh,Right hand Bat,Right arm Offbreak,Middle order Batter,,NaN,NaN
216,Zahoor Khan,U.A.E.,Right hand Bat,Right arm Medium fast,Bowler,,NaN,NaN
217,Zane Green,Namibia,Left hand Bat,,Wicketkeeper Batter,,NaN,NaN
218,Zawar Farid,U.A.E.,Right hand Bat,Right arm Medium,Bowler,,NaN,NaN

In [78]:
'Aaron Finch' in my_name_ls

False

In [77]:
for name in cb_name_ls:
    if name not in my_name_ls:
        print(name)
        if remove_special_characters(name) not in my_name_ls:
            print(remove_special_characters(name))

Aaron Finch(c)
Aaron Finch
Andy Balbirnie(c)
Andy Balbirnie
Babar Azam(c)
Babar Azam
Chundangapoyil Rizwan(c)
Chundangapoyil Rizwan
Craig Ervine(c)
Craig Ervine
Dasun Shanaka(c)
Gerhard Erasmus(c)
Jan Nicol Loftie-Eaton
Jan Nicol LoftieEaton
Jos Buttler(c)
Jos Buttler
Kane Williamson(c)
Kane Williamson
Matthew Wade(c)
Max O'Dowd
Max ODowd
Mohammad Nabi(c)
Naveen-ul-Haq
NaveenulHaq
Nicholas Pooran(c)
Nicholas Pooran
Regis Chakabva(c)
Richie Berrington(c)
Richie Berrington
Rohit Sharma(c)
Rohit Sharma
Scott Edwards(c)
Scott Edwards
Shakib Al Hasan(c)
Temba Bavuma(c)
Temba Bavuma

In [66]:
display(my_name, cb_name)#.sort_values(by = 'name')

                 name  count
158  Aayan Afzal Khan      1
88         Adam Zampa      1
196       Adil Rashid      1
5        Afif Hossain      1
156        Ahmed Raza      1
..                ...    ...
107  Wessly Madhevere      1
6           Yasir Ali      1
155       Zahoor Khan      1
152        Zane Green      1
161       Zawar Farid      1

[198 rows x 2 columns]

                 name  count
61     Aaron Finch(c)      1
204  Aayan Afzal Khan      1
10         Adam Zampa      1
185       Adil Rashid      1
142      Afif Hossain      1
..                ...    ...
146  Wessly Madhevere      1
145         Yasir Ali      1
194       Zahoor Khan      1
72         Zane Green      1
201       Zawar Farid      1

[219 rows x 2 columns]

In [45]:
df_3

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,status,Single Runs,Boundary Runs
0,Namibia Vs Sri lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out,3,0
1,Namibia Vs Sri lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out,5,4
2,Namibia Vs Sri lanka,Namibia,3,Jan Nicol LoftieEaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,out,4,16
3,Namibia Vs Sri lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out,18,8
4,Namibia Vs Sri lanka,Namibia,5,Gerhard Erasmus,c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out,20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,England Vs Pakistan,England,3,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11,out,2,8
695,England Vs Pakistan,England,4,Ben Stokes,,52,49,5,1,106.12,not_out,26,26
696,England Vs Pakistan,England,5,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95,out,16,4
697,England Vs Pakistan,England,6,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15,out,7,12
698,England Vs Pakistan,England,7,Liam Livingstone,,1,1,0,0,100.00,not_out,1,0

In [49]:
df_4

,match,scorecard,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri lanka,T20I # 1823,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri lanka,T20I # 1823,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri lanka,T20I # 1823,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri lanka,T20I # 1823,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri lanka,T20I # 1823,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,England Vs Pakistan,T20I # 1879,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0
496,England Vs Pakistan,T20I # 1879,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0
497,England Vs Pakistan,T20I # 1879,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0
498,England Vs Pakistan,T20I # 1879,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0
499,England Vs Pakistan,T20I # 1879,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0

In [48]:
df_3.groupby('batsmanName', as_index=False).sum().head(25)

,batsmanName,match,teamInnings,battingPos,dismissal,runs,balls,4s,6s,SR,status,Single Runs,Boundary Runs
0,Aaron Finch,Australia Vs New zealandAustralia Vs Sri lanka...,AustraliaAustraliaAustralia,6,c Williamson b Santnerc Adair b McCarthy,107,114244,6,5,118.1873.80143.18,outnot_outout,53,54
1,Aayan Afzal Khan,Netherlands Vs U.a.e.Sri lanka Vs U.a.e.,U.A.E.U.A.E.,15,c Cooper b Klaassen b PWH de Silva,24,721,1,0,71.4290.47,outout,20,4
2,Adam Zampa,Australia Vs New zealandAfghanistan Vs Australia,AustraliaAustralia,20,b Boult,1,21,0,0,0.00100.00,outnot_out,1,0
3,Afif Hossain,Bangladesh Vs NetherlandsBangladesh Vs South a...,BangladeshBangladeshBangladeshBangladeshBangla...,24,c â€ Edwards b de Leedec Parnell b Rabadalbw b N...,95,27519520,6,3,140.7420.00152.6360.00120.00,outoutoutoutnot_out,53,42
4,Aiden Markram,Bangladesh Vs South africaIndia Vs South afric...,South AfricaSouth AfricaSouth AfricaSouth Africa,17,c Soumya Sarkar b Hasan Mahmudc Yadav b Pandya...,99,11411413,13,1,90.90126.82142.85130.76,outoutoutout,41,58
5,Akeal Hosein,Scotland Vs West indiesWest indies Vs Zimbabwe,West IndiesWest Indies,16,run out (â€ Cross/Leask),24,118,2,0,100.00127.77,outnot_out,16,8
6,Alex Hales,Afghanistan Vs EnglandEngland Vs IrelandEnglan...,EnglandEnglandEnglandEnglandEnglandEngland,12,c Fazalhaq Farooqi b Fareed Ahmadc Adair b Lit...,212,2054030472,19,10,95.00140.00130.00156.66182.9750.00,outoutoutoutnot_outout,76,136
7,Alishan Sharafu,Namibia Vs U.a.e.,U.A.E.,4,c â€ Green b Wiese,4,4,0,0,100.00,out,4,0
8,Alzarri Joseph,Scotland Vs West indies,West Indies,9,c â€ Cross b Watt,0,1,0,0,0.00,out,0,0
9,Andy Balbirnie,Ireland Vs ZimbabweIreland Vs ScotlandIreland ...,IrelandIrelandIrelandIrelandIrelandIrelandIreland,14,c Ervine b Muzarabanic Jones b Whealc Mayers b...,153,41223547725,10,9,75.00116.66160.8620.00131.9185.71120.00,outoutoutoutoutoutout,59,94
10,Anrich Nortje,Pakistan Vs South africaNetherlands Vs South a...,South AfricaSouth Africa,19,c Mohammad Haris b Haris Rauf,5,51,1,0,20.00400.00,outnot_out,1,4
11,Arshdeep Singh,India Vs South africa,India,11,,2,1,0,0,200.00,not_out,2,0
12,Aryan Lakra,Sri lanka Vs U.a.e.,U.A.E.,3,b Chameera,1,3,0,0,33.33,out,1,0
13,Asif Ali,India Vs Pakistan,Pakistan,8,c â€ Karthik b Arshdeep Singh,2,3,0,0,66.66,out,2,0
14,Axar Patel,India Vs PakistanBangladesh Vs IndiaIndia Vs Z...,IndiaIndiaIndia,19,run out (Babar Azam/â€ Mohammad Rizwan)c Shakib ...,9,360,1,0,66.66116.66-,outoutnot_out,5,4
15,Azmatullah Omarzai,Afghanistan Vs EnglandAfghanistan Vs Sri lanka,AfghanistanAfghanistan,15,c Stokes b Curran,11,64,1,0,133.3375.00,outnot_out,7,4
16,Babar Azam,India Vs PakistanPakistan Vs ZimbabweNetherlan...,PakistanPakistanPakistanPakistanPakistanPakist...,14,lbw b Arshdeep Singhc Burl b Evansrun out (van...,124,19515334228,13,0,0.0044.4480.0040.0075.75126.19114.28,outoutoutoutoutoutout,72,52
17,Barry McCarthy,Ireland Vs ZimbabweIreland Vs Sri lankaEngland...,IrelandIrelandIrelandIrelandIreland,49,b Curranc sub (SPD Smith) b Cummins,36,162375,1,2,137.50100.00100.0042.85120.00,not_outnot_outoutoutnot_out,20,16
18,Bas de Leede,Netherlands Vs U.a.e.Namibia Vs NetherlandsNet...,NetherlandsNetherlandsNetherlandsNetherlandsNe...,28,c Rizwan b Meiyappanc â€ Mendis b Kumarac â€ Nurul...,93,18301012316127,7,1,77.77100.00140.000.0069.5637.50100.0014.28,outnot_outoutoutoutnot_outnot_outout,59,34
19,Basil Hameed,Netherlands Vs U.a.e.Sri lanka Vs U.a.e.Namibi...,U.A.E.U.A.E.U.A.E.,17,c van der Merwe b de Leedec DM de Silva b Shanaka,31,4614,3,2,100.0033.33178.57,outoutnot_out,7,24
20,Ben Stokes,Afghanistan Vs EnglandEngland Vs IrelandEnglan...,EnglandEnglandEnglandEnglandEngland,21,b Mohammad Nabi b Handlbw b Ferguson,110,4873649,7,1,50.0075.00114.28116.66106.12,outoutoutnot_outnot_out,76,34
21,Bernard Scholtz,Namibia Vs U.a.e.,Namibia,10,,1,1,0,0,100.00,not_out,1,0
22,Bhanuka Rajapaksa,Namibia Vs Sri lankaSri lanka Vs U.a.e.Netherl...,Sri LankaSri LankaSri LankaSri LankaSri LankaS...,34,c la Cock b Scholtzc Kashif Daud b Meiyappanc ...,125,218135221422,14,2,95.2362.50146.15140.00154.54128.57100.00,outoutoutoutoutoutout,57,68
23,Bhuvneshwar Kumar,India Vs South africa,India,9,,4,6,0,0,66.66,not_out,4,0
24,Blessing Muzarabani,West indies Vs ZimbabweBangladesh Vs ZimbabweN...,ZimbabweZimbabweZimbabweZimbabwe,43,c Glover b van Beek,2,4242,0,0,25.000.0025.000.00,not_outnot_outoutnot_out,2,0

## 'runs' is the total run including single, 4s and 6s.

### The is 1 no balls in 'Ireland Vs Zimbabwe' match which can be seen in the df_4 from bowling dataset. When we look at df_3 which the batting dataset we can observe that the 'runs' exceeded more than just 1 run (if we consider that it inlcudes no ball) in multiple entries. Furthermore when we remove the boundary runs from the runs, we cannot find any negative values. 

### Hence its safe to conclude that 'runs' is the 'Total runs' including singles and boundary runs.

In [16]:
df = df_4[df_4['noBalls'] == '1']# 
df[df['match'] =='Ireland Vs Zimbabwe']

,match,scorecard,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
43,Ireland Vs Zimbabwe,T20I # 1828,Zimbabwe,Blessing Muzarabani,4,0,23,3,5.75,14,0,2,0,1

In [17]:
df_3[df_3['match'] == 'Ireland Vs Zimbabwe']

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,status
56,Ireland Vs Zimbabwe,Zimbabwe,1,Regis Chakabva,c â€ Tucker b Little,0,2,0,0,0.00,out
57,Ireland Vs Zimbabwe,Zimbabwe,2,Craig Ervine,st â€ Tucker b Simi Singh,9,12,1,0,75.00,out
58,Ireland Vs Zimbabwe,Zimbabwe,3,Wessly Madhevere,c Delany b Little,22,19,4,0,115.78,out
59,Ireland Vs Zimbabwe,Zimbabwe,4,Sean Williams,c Tector b Simi Singh,12,11,0,1,109.09,out
60,Ireland Vs Zimbabwe,Zimbabwe,5,Sikandar Raza,b Adair,82,48,5,5,170.83,out
61,Ireland Vs Zimbabwe,Zimbabwe,6,Milton Shumba,c Little b Adair,16,14,1,0,114.28,out
62,Ireland Vs Zimbabwe,Zimbabwe,7,Ryan Burl,c Adair b Little,1,4,0,0,25.00,out
63,Ireland Vs Zimbabwe,Zimbabwe,8,Luke Jongwe,,20,10,3,0,200.00,not_out
64,Ireland Vs Zimbabwe,Ireland,1,Paul Stirling,b Ngarava,0,2,0,0,0.00,out
65,Ireland Vs Zimbabwe,Ireland,2,Andy Balbirnie,c Ervine b Muzarabani,3,4,0,0,75.00,out
66,Ireland Vs Zimbabwe,Ireland,3,Lorcan Tucker,b Ngarava,11,11,2,0,100.00,out
67,Ireland Vs Zimbabwe,Ireland,4,Harry Tector,c Ervine b Muzarabani,1,4,0,0,25.00,out
68,Ireland Vs Zimbabwe,Ireland,5,Curtis Campher,b Williams,27,22,1,0,122.72,out
69,Ireland Vs Zimbabwe,Ireland,6,George Dockrell,b Sikandar Raza,24,20,3,0,120.00,out
70,Ireland Vs Zimbabwe,Ireland,7,Gareth Delany,c Shumba b Chatara,24,20,1,1,120.00,out
71,Ireland Vs Zimbabwe,Ireland,8,Mark Adair,c Sikandar Raza b Muzarabani,9,10,0,1,90.00,out
72,Ireland Vs Zimbabwe,Ireland,9,Simi Singh,b Chatara,0,1,0,0,0.00,out
73,Ireland Vs Zimbabwe,Ireland,10,Barry McCarthy,,22,16,1,2,137.50,not_out
74,Ireland Vs Zimbabwe,Ireland,11,Josh Little,,7,11,1,0,63.63,not_out

In [43]:
df_3[['4s', '6s', 'runs']] = df_3[['4s', '6s', 'runs']].astype('int32')
df_3['Single Runs'] = df_3['runs'] - ((df_3['4s'] * 4) + (df_3['6s'] * 6))
df_3['Boundary Runs'] = (df_3['4s'] * 4) + (df_3['6s'] * 6)
df_3[df_3['Single Runs'] < 0]

Empty DataFrame
Columns: [match, teamInnings, battingPos, batsmanName, dismissal, runs, balls, 4s, 6s, SR, status, Single Runs, Boundary Runs]
Index: []